header {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    padding-top:20px;
    z-index: 1;
}
    .header {
        padding-top: 20px;
    }
    .logo {
        display: inline-block;
        float: left;
        position: relative;
        z-index: 15;

    }
    .top-button {
        float: right;
        border: none;
        box-shadow: 1px 4px 14px rgba(0,0,0, 0.5);
        z-index: 15;
        position: relative;
    }
    .top-button:hover{
        background-color:white;
        border: none;
        color:white;
        cursor: pointer;

    }
    button > i {
            text-decoration: none;
            float: right;
            padding: 15px;
            color: black;
            position: relative;
            font-size: 20px;
            text-align: center;
            background-color: none;   
    }

.hide-div {
        display: none;
    }
    .show {
        padding-top:150px;
        display: inline-block;
        width: 100%;
        height: 100vh;
        line-height: 80px;
        font-size: 50px;
        background: #4e32ac;
        opacity: 0.5;
        top:0;
        position: absolute;
    }
    nav {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100vh;
    }
    .show  a {
        color:white;
        text-decoration: none;
    }
    


