body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    width: 1150px;
    margin: 0 calc((100% - 1150px) / 2 );
}

section{
  text-align: center;
  padding-bottom: 80px;
  width: 100%;
}

/* START: main */
.home-page {
    background:url(../img/home-bg.jpg);
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
        .row {
            position: absolute;
            display: inline-block;
            float:left;
            width: 600px;
            top:35%;
            text-align: left;
           

        
        }
        .row > h1 {
            position: relative;
            display: inline-block;
            float: left; 
            font-size: 40px;
            text-transform: uppercase;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .row > p {
            position: relative;
            display: inline-block;
            float: left;
            margin-top:35px;
            font-size: 16px;
            line-height: 35px;
            color: gray;
            font-family: "Open Sans",sans-serif;

            
        }
        .icons {
            position: relative;
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 100%;
            float:left;
            padding-bottom: 20px;
    
            
        }
        .icons > a {
            position: relative;
            color:black;

            display: inline-block;
            margin: 5px;
            transition: 0.1s;

            
        }

        .icons > a > i.fab {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            margin: 5px;
            padding: 10px;
            font-size: 14px;
            border-radius: 50%;
            background-color:#eee;
            /* border: 0.5px solid black; */
            line-height: 15px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
            
        }

        .row .fa-facebook-f{
            padding-right: 14px;
        }
        
        .row .fa-tumblr{
            padding-right: 14px;
        }
        
        .icons > a:hover > i.fab{
            transform: translateY(-20%);
            color: white;
            background-color: #4e32ac;
        }
/* END: main */


/* START: about */
.about{
    text-align: center;
  }

  .aboutDiv{
    width: 50%;
    float: left;
  }

  .about button{
      padding: 10px;
      padding-right: 16px;
      padding-left: 16px;
      font-weight: 400;
      font-size: 14px;
      margin-top: 60px;
    }

    .video{
      position: relative;
      display: flex;
    }

    .videobackround{
      position: absolute;
      background-color: #4e32ac;
      height: 100%;
      width: 90%;
      margin-left: 10%;
      opacity: 0.3;
    }

    .video a{
      border: 1px solid #fff;
      height: 64px;
      width: 64px;
      font-size: 30px;
      padding: 16px;
      line-height: 32px;
      position: absolute;
      top: 40%;
      left: 50%;
      cursor: pointer;
      z-index: 1;
      font-size: 25px;
    }

    .video i{
      color: white;
    }

    .video i:hover{
      color: #4e32ac;
    }

    button:hover {
        background-color: #4e32ac;
        color: white;
        cursor: pointer;
    }

  .about img{
    width: 90%;
    margin-left: 10%;
  }

  .aboutDiv p{
    color: #333;
    margin-top: 12px;
    font-size: 14px;
    word-spacing: 4px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .main-color{
    color: #4e32ac;
  }
  /* modal css */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 10%;
    top: 20%;
    overflow: auto;
    /* padding-bottom: 56.25%; /* Enable scroll if needed */ */
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* END: about */


/* START: services */
.section.second-bg {
  background-color: var(--secondary-color);
  }

  .section.second-bg > .container p {
      margin-bottom: 40px;
      color: gray;
  }

  .service-box {
      display: inline-block;
      width: 24%;
      text-align: center;
      margin-top :80px;
      margin-bottom: 80px;
  }

  .service-box > i {
      color: #4e32ac;
      font-size: 35px;
  }
/* END: services */


/* START: work */
#workdiv{
  width: 33.333%;
  height: 100%;
  float: left;
  position: relative;
}

#workdiv img{
  padding: 10px;
  height: 300px;
  width: 100%;
}

 #workhref{
  position:absolute;
  top: 30%;
  left:40%;
  padding: 40px;
  cursor: pointer;
  opacity: 0;
}

/* tamsesnio backroundo uzdejimas hoverio metu */
#workdiv .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#workdiv:hover .after {
    display: block;
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
}


#workdiv {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

#workdiv img {
  transition: transform .5s ease;
}

#workdiv:hover img {
  transform: scale(1.2);
}

/* filtravimo css */
#myBtnContainer{
  margin-bottom: 80px;
  width: 100%;
}

.filterDiv{
  display: none;
}
.show {
  display: block;
}

/* END: work */


/* START: my-blogs */
.blog-row {
  display: inline-block;
  width: 30%;
  /* float: left; */
  margin: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
}   

.blog-row > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.section.second-bg > .container > .blog-row h4 {
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

.section.second-bg > .container > .blog-row p {
  margin-bottom: 40px;
  color:#000;
  padding: 10px;
  text-align: left;
}
/* END: my-blogs */


/* START: contacts */
form {
  display: inline-block;
  width: 65%;
}
  form input {
      display: inline-block;
      width: calc(50% - 20px);
      float: left;
      margin-bottom: 20px;
      height: 30px;
      border: 1px solid #ddd;
  }

  form input:nth-child(2) {
      margin-left: 40px;
  }

  form placeholder{
    margin-left: 15px;
  }

  form textarea {
      display: inline-block;
      min-height: 150px;
      max-height: 300px;
      margin-bottom: 60px;
      min-width: 100%;
      border: 1px solid #ddd;
  }
/* END: contacts */


/* START: footer */
footer {
  text-align: center;
}

footer > .footer-top{
  display: inline-block;
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #272727;
}

  .icons-footer {
      display: inline-block;
      float: left;
      width: 100%;
  }

  .icons-footer > a {
      display: inline-block;
      margin-top: 20px;
      transition: 0.1s;
  }
  .icons-footer > a > i {
      display: inline-block;
      text-align: center;
      margin: 6px;
      color: white;
      padding: 15px;
      font-size: 20px;
      border-radius: 50%;
      background-color: #4e32ac;
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 1);
  }
  
  .icons-footer > a:hover > i.fab {
      transform: translateY(-20%);
      color: #4e32ac;
      background-color: white;
  }

  .icons-footer .fa-facebook-f{
      padding-right: 18px;
  }
  
  .icons-footer .fa-tumblr{
      padding-right: 18px;
  }

  .footer-nav {
      display: inline-block;
      word-spacing: 20px;
  
  }

  .container > .footer-nav > a {
      display: inline-block;
      padding-top: 50px;
      color: #c7c7c7;
      font-size: 14px;
      font-weight: 700;
      margin: 5px;
      text-decoration: none;
      text-transform: uppercase;
      padding-bottom: 20px;
  }
  
  footer > .footer-bot {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 20px;
      background-color: #4e32ac;
  }
  
  footer > .footer-bot .container > p {
      color: white;
      text-transform: uppercase;
      word-spacing: 2px;
  }
/* END: footer */

      /* fonts css */
      h2 {
        display: inline-block;
        text-align: center;
        width: 100%;
        position: relative;
        font-size :32px;
        margin-bottom: 30px;
        margin-top: 100px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0;
    }
 
    h2::after {
        display: inline-block;
        content: '';
        width: 100px;
        height: 2px;
        position: absolute;
        top:50px;
        left: 46%;
        background-color: #4e32ac;
    }
 
     h3 {
         display: inline-block;
         text-align: center;
         width: 100%;
         position: relative;
         font-size :20px;
         margin-bottom: 30px;
         margin-top:10px;
         font-weight: bold;
         text-transform: uppercase;
     }
 
     h3::after {
         display: inline-block;
         content: '';
         width: 60px;
         height: 1px;
         position: absolute;
         top: 30px;
         left: 100px;
         background-color: #4e32ac;
     }
 
     p{
       color: #333;
       font-size: 14px;
       line-height: 1.8;
       margin: 0 0 10px;
       margin-bottom: 60px;
     }
 
     h4{
       font-size: 19px;
       color: #333;
       font-weight: 700;
       margin-top: 24px;
       margin-bottom: 40px;
     }

     /* responsive css  */

    @media screen and (max-width: 1000px) {
      .container {
          width: 900px;
          margin: 0 calc( (100% - 900px) / 2 );
      }
    iframe {
      height: 500px;
      width: 700px;
    }

    .aboutDiv{
      width: 100%;
      float: none;
    }

    #workdiv{
      width: 50%;
    }
  }

    @media screen and (max-width: 900px) {
      .container {
          width: 700px;
          margin: 0 calc( (100% - 700px) / 2 );
      }
    iframe {
      height: 450px;
      width: 650px;
  }

  form {
      width: 100%;
  }

      form input {
          float: none;
          width: 100%;
      }

      form input:nth-child(2) {
          margin-left: 0px;
      }

      .btn{
        margin-bottom: 15px;
      }

    @media screen and (max-width: 800px) {
      .container {
          width: 600px;
          margin: 0 calc( (100% - 600px) / 2 );
      }
    iframe {
      height: 400px;
      width: 600px;
  }

  #workdiv{
    width: 100%;
    float: none;
    display: block;
  }
}

  @media screen and (max-width: 700px) {
    .container {
        width: 500px;
        margin: 0 calc( (100% - 500px) / 2 );
    }
  iframe {
    height: 300px;
    width: 450px;
  }

  @media screen and (max-width: 600px) {
    .container {
        width: 400px;
        margin: 0 calc( (100% - 400px) / 2 );
    }
  iframe {
    height: 250px;
    width: 300px;
  }

  @media screen and (max-width: 400px) {
    .container {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
  iframe {
    height: 200px;
    width: 250px;
  }
