body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    width: 1150px;
    margin: 0 calc((100% - 1150px) / 2 );

}



/* START: main */
.home-page {
    background:url(../img/home-bg.jpg);
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
        .row {
            position: absolute;
            display: inline-block;
            float:left;
            width: 600px;
            top:35%;
            text-align: left;
           

        
        }
        .row > h1 {
            position: relative;
            display: inline-block;
            float: left; 
            font-size: 40px;
            text-transform: uppercase;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .row > p {
            position: relative;
            display: inline-block;
            float: left;
            margin-top:35px;
            font-size: 16px;
            line-height: 35px;
            color: gray;
            font-family: "Open Sans",sans-serif;

            
        }
        .icons {
            position: relative;
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 100%;
            float:left;
            padding-bottom: 20px;
    
            
        }
        .icons > a {
            position: relative;
            color:black;

            display: inline-block;
            margin: 5px;
            transition: 0.1s;

            
        }

        .icons > a > i.fab {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            margin: 5px;
            padding: 10px;
            font-size: 14px;
            border-radius: 50%;
            background-color:#eee;
            /* border: 0.5px solid black; */
            line-height: 15px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
            
        }

        .row .fa-facebook-f{
            padding-right: 14px;
        }
        
        .row .fa-tumblr{
            padding-right: 14px;
        }
        
        .icons > a:hover > i.fab{
            transform: translateY(-20%);
            color: white;
            background-color: #4e32ac;
        }
/* END: main */


/* START: about */
.about{
    text-align: center;
  }

  .aboutDiv{
    width: 50%;
    float: left;
  }

  .about button{
      padding: 10px;
      padding-right: 16px;
      padding-left: 16px;
      font-weight: 400;
      font-size: 14px;
      margin-top: 60px;
    }

    .video{
      position: relative;
      display: flex;
    }

    .videobackround{
      position: absolute;
      background-color: #4e32ac;
      height: 100%;
      width: 90%;
      margin-left: 10%;
      opacity: 0.3;
    }

    .video a{
      border: 1px solid #fff;
      height: 64px;
      width: 64px;
      font-size: 30px;
      padding: 16px;
      line-height: 32px;
      position: absolute;
      top: 40%;
      left: 50%;
      cursor: pointer;
      z-index: 1;
      font-size: 25px;
    }

    .video i{
      color: white;
    }

    .video i:hover{
      color: #4e32ac;
    }

    button:hover {
        background-color: #4e32ac;
        color: white;
        cursor: pointer;
    }

  .about img{
    width: 90%;
    margin-left: 10%;
  }

  .aboutDiv p{
    color: #333;
    margin-top: 12px;
    font-size: 14px;
    word-spacing: 4px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .main-color{
    color: #4e32ac;
  }
  /* modal css */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 10%;
    top: 20%;
    overflow: auto;
    /* padding-bottom: 56.25%; /* Enable scroll if needed */ */
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* END: about */


/* START: services */

/* END: services */


/* START: work */

/* END: work */


/* START: my-blogs */

/* END: my-blogs */


/* START: contacts */

/* END: contacts */


/* START: footer */

/* END: footer */
